.movie-page {
    color: #fff; 
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 600px; 
    margin: 2rem auto; 
}

.movie-page svg {
    font-size: 1.5rem; 
    color: #f7d354; 
}

.movie-page .movie-card {
    text-align: center;
    width: 100%; 
}

.movie-page .movie-card .movie-img, 
.movie-page .movie-card .movie-title {
    margin-bottom: 1rem; 
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem; 
}

.movie-tagline {
    text-align: center;
    font-size: 1.3rem; 
    margin-bottom: 2rem; 
}

.movie-info {
    margin-bottom: 1.5rem; 
}

.movie-info h3 {
    margin-bottom: 1rem; 
    display: flex;
    align-items: center;
    gap: .5rem; 
}

.movie-info.description {
    line-height: 1.4rem; 
}